<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title><%= schema.ontology.title %></title>
		<style>
body, td, th {
  font-family: arial,sans-serif;
  font-size: 80% ;
}
h1 {
  padding-left: 1cm ;
}
h2 {
  border-top: 1px black solid;
  padding-left: 1cm ;
}
a {
  text-decoration: none;
}
td, th {
  vertical-align: top ;
}
div.section {
  padding-left: 1cm ;
}
table.classinfo {
  width: 100%;
}
table.classinfo td {
  padding: 0px;
}
table.classinfo td.classhierarchy {
  width: 20%;
  border-right: 1px black solid;
  padding-right: 10px;
  font-size: 1em;
}
table.terms th.termName {
  text-align: left;
  font-size: 1.1em;
}
table.terms td {
  padding-left: 1em ;
  padding-bottom: 0.5em;
  font-size: 0.9em;
}
table.terms td.label {
  vertical-align: top;
}
table.terms ul {
  margin: 0px;
}
table.terms li {
  margin-left: -2em;
}
      </style>
	</head>
	<body>
		<h1><%= schema.ontology.title %></h1>
		<div class="section">
			<dl>
				<dt>Latest Version</dt>
					<dd><a href="../ontology/<%= schema.ontology.resourceNameHtml %>"><%= schema.ontology.ns %></a></dd>
		  		<% if schema.ontology.created %>
		  		<dt>Created</dt>
		  			<dd><%= schema.ontology.created %></dd>
			  	<% end %>
			  	<% if schema.ontology.modified %>		  	
			  		<dt>Last Modified</dt>
			  			<dd><%= schema.ontology.modified %></dd>
			  	<% end %>		  		  
		  		<% if schema.ontology.hasAuthors? %>		  	
					<dt>Authors & Contributors</dt>
					<% schema.ontology.authors.each() do |author| %>
						<dd><a href="<%= author.uri %>"><%= author.name %></a></dd>
					<% end %>
		  		<% end %>
		  		<% if schema.ontology.rights %>
		  			<dt>Copy Rights</dt>
		  				<dd><%= schema.ontology.rights %></dd>
		  		<% end %>
		  		<% if not schema.ontology.see_alsos.empty?() %>
		  			<dt>See Also</dt>
						<% schema.ontology.see_alsos.each() do |see_also| %>
							<dd><a href="<%= see_also %>"><%= see_also %></a></dd>
						<% end %>
		  		<% end %>
			</dl>
		</div>
	
		<% if schema.ontology.hasComment? %>	
			<h2>Abstract</h2>
			<div class="section" id="abstract">
				<%= schema.ontology.comment %>
			</div>
		<% end %>
		
		<% if introduction %>
			<div class="section" id="introduction">
				<%= introduction %>
			</div>
		<% end %>


<%
def doImport(import)
  if import.repository.knowsImport(import)
    result = "\n<li><a href=\"../ontology/#{import.repository.getSchemaNameForImport(import)}.html\">#{import.uri} (#{import.name})</a></li>"
  else
    result = "\n<li><a href=\"#{import.uri}\">#{import.uri} (#{import.name})</a></li>"
  end
  imports = import.imports()
  if ! imports.empty?() 
    result += "\n<ul>"
    imports.each do |subImport|
      result += doImport(subImport)
    end
    result += "\n</ul>"
  end
  return result
end
%>			
		<h2>Imports</h2>
		<div class="section">
			<ul class="class">
			<% schema.ontology.imports.each() do |import| %>
   				<%= doImport(import) %>
			<% end %>
			</ul>
		</div>

<%
def doClass(klass)
  name = klass.short_name 
  result = "\n<li><a href=\"#class_#{name}\">#{name}</a></li>"
  subclasses = klass.subClasses()
  if ! subclasses.empty?() 
    result += "\n<ul>"
    subclasses.each do |subclass|
      result += doClass(subclass)
    end
    result += "\n</ul>"
  end
  return result
end
%>
		<% if schema.root_classes.length > 0 %>
			<h2>Classes - Overview</h2>
			<div class="section">
				<table class="classinfo">
					<tr>
						<td class="classhierarchy" valign="top">
							<ul class="class">
	   						<% schema.root_classes().each do |klass| %>
			       				<%= doClass(klass) %>
	   						<% end %>
	       					</ul>
	       				</td>
	       				<td>
						<%= schema.classDiagramAsSvg %>
						</td>
					</tr>
				</table>
	        </div>
	    <% end %>
		
		<% if schema.list_properties.length > 0 %>
			<h2>Properties - Overview</h2>
			<div class="section">
				<% schema.list_properties().each do |key,val| %>
			 	| <a href="#prop_<%= val.short_name %>"><%= val.short_name %></a>
				<% end %>
			</div>
		<% end %>				

		
		<% if schema.root_classes.length > 0 %>
			<h2>Classes</h2>
			<div class="section">
				<table class="terms">
	   			<%schema.list_classes().each do |t| %>
	   				<%
	   					rowSpan = 1
	   					rowSpan += 1 if t[1].hasComment?
	   					rowSpan += 1 if t[1].status
	   					rowSpan += 1 if t[1].super_classes.length > 0
	   					rowSpan += 1 if t[1].subClasses.length > 0
	   					rowSpan += 1 if t[1].see_alsos.length > 0
	   				%>
	   				<tr id="class_<%= t[1].short_name %>">
	   					<th colspan="2" class="termName"><%= t[1].short_name %><% if t[1].hasDifferentLabel? %> (<%= t[1].label %>)<% end %></th>
	   					<th rowspan="<%= rowSpan %>" valign="top"><%= t[1].perClassDiagramAsSvg %></th>
	   				</tr>
					<% if t[1].hasComment? %>
						<tr>
							<td class="label">Abstract</td>
							<td> 				   				
								<%= t[1].comment %>
							</td>
						</tr>
					<% end %>
					<% if t[1].status %>
	   					<tr>
	   						<td class="label">Status</td>
	   						<td><%= t[1].status %></td>
	   					</tr>
					<% end %>
					<% if t[1].hasSuperClasses? %>
						<tr>
							<td class="label">SubClass Of</td>
							<td>
								<ul>
								<% t[1].super_classes.each do |parent| %>
									<li><a href="#class_<%= parent.short_name %>"><%= parent.short_name %></a></li>
								<% end %>
								</ul>
							</td>
						</tr>
					<% end %>
					<% if t[1].hasSubClasses? %>
						<tr>
							<td class="label">Sub-Classes</td>
							<td>
								<ul>
								<% t[1].subClasses.each do |child| %>
									<li><a href="#class_<%= child.short_name %>"><%= child.short_name %></a></li>
								<% end %>
								</ul>
							</td>
						</tr>
					<% end %>	   				
					<% if t[1].see_alsos.length > 0 %>
						<tr>
							<td class="label">See Also:</td>
							<td>
			   					<ul>	   			
								<% t[1].see_alsos.each do |link| %>
									<li><a href="<%= link %>"><%= link %></a></li>
								<% end %>
								</ul>
							</td>
						</tr>
					<% end %>
	  			<%end%>
				</table>
	  		</div>	
		<%end%>
	
		<% if schema.list_object_properties.length > 0 %>
			<h2>Object Properties</h2>
			<div class="section">
				<table class="terms">
		   		<% schema.list_object_properties().each do |t| %>
					<tr id="prop_<%= t[1].short_name %>">
						<th colspan="2" class="termName"><%= t[1].short_name %><% if t[1].hasDifferentLabel? %> (<%= t[1].label %>)<% end %></th>
					</tr>
					<% if t[1].hasComment? %>
						<tr>
							<td class="label">Abstract</td>
							<td><%= t[1].comment %></td>
						</tr>
					<% end %>				
					<% if t[1].status %>
	   					<tr>
	   						<td class="label">Status</td>
	   						<td><%= t[1].status %></td>
	   					</tr>
					<% end %>
					<% if t[1].sub_property_of %>
						<% if t[1].sub_property_of.class.to_s == "String" %>	   				
							<tr>
								<td class="label">Has Parent Property</td>
								<td><a href="<%= t[1].sub_property_of %>"><%= t[1].sub_property_of %></a></td>
							</tr>
						<% else %>
							<tr>
								<td class="label">Has Parent Property</td>
								<td><a href="#prop_<%= t[1].sub_property_of.short_name %>"><%= t[1].sub_property_of.short_name %></a></td>
							</tr>
						<% end %>
					<% end %>
					<% if t[1].sub_properties.length > 0 %>
						<tr>
							<td class="label">Sub-Properties</td>
							<td>
								<ul>
								<% t[1].sub_properties.each do |child| %>
									<li><a href="#class_<%= child.short_name %>"><%= child.short_name %></a></li>
								<% end %>
								</ul>
							</td>
						</tr>
					<% end %>		   				
					<% if t[1].range.length > 0 %>
						<tr>
							<td class="label">Range</td>
							<td>
								<ul>
								<% t[1].range.each do |cls| %>
									<% if cls.class.to_s == "String" %>
										<li><a href="<%= cls %>"><%= cls %></a></li>
									<% else %>
										<li><a href="#class_<%= cls.short_name %>"><%= cls.short_name %></a></li>
									<% end %>
								<% end %>
								</ul>		   				
							</td>
						</tr>
					<% end %>
					<% if t[1].domain.length > 0 %>
						<tr>
							<td class="label">Domain</td>
							<td>
								<ul>
								<% t[1].domain.each do |cls| %>
									<% if cls.class.to_s == "String" %>
										<li><a href="<%= cls %>"><%= cls %></a></li>
									<% else %>
										<li><a href="#class_<%= cls.short_name %>"><%= cls.short_name %></a></li>
									<% end %>
								<% end %>
								</ul>		   				
							</td>
						</tr>
					<% end %>		   				
					<% if t[1].see_alsos.length > 0 %>
						<tr>
							<td class="label">See Also</td>
							<td>
			   					<ul>	   			
								<% t[1].see_alsos.each do |link| %>
									<li><a href="<%= link %>"><%= link %></a></li>
								<% end %>
								</ul>
							</td>
						</tr>
					<% end %>
	  			<%end%>
				</table>	   				
	  		</div>	
		<% end %>
			
		<% if schema.list_datatype_properties.length > 0 %>
			<h2>Datatype Properties</h2>
			<div class="section">
				<table class="terms">
		   		<% schema.list_datatype_properties().each do |t| %>
					<tr id="prop_<%= t[1].short_name %>">
						<th colspan="2" class="termName"><%= t[1].short_name %><% if t[1].hasDifferentLabel? %> (<%= t[1].label %>)<% end %></th>
					</tr>
					<% if t[1].hasComment? %>
						<tr>
							<td class="label">Abstract</td>
							<td><%= t[1].comment %></td>
						</tr>
					<% end %>				
					<% if t[1].status %>
	   					<tr>
	   						<td class="label">Status</td>
	   						<td><%= t[1].status %></td>
	   					</tr>
					<% end %>
	   				<% if t[1].sub_property_of %>
	   					<% if t[1].sub_property_of.class.to_s == "String" %>	   				
	   						<tr>
	   							<td class="label">Has Parent Property</td>
	   							<td><a href="<%= t[1].sub_property_of %>"><%= t[1].sub_property_of %></a></td>
	   						</tr>
	   					<% else %>
	   						<tr>
	   							<td class="label">Has Parent Property</td>
	   							<td><a href="#prop_<%= t[1].sub_property_of.short_name %>"><%= t[1].sub_property_of.short_name %></a></td>
	   						</tr>
	   					<% end %>
	   				<% end %>
	   				<% if t[1].sub_properties.length > 0 %>
						<tr>
							<td class="label">Sub-Properties</td>
							<td>
								<ul>
								<% t[1].sub_properties.each do |child| %>
									<li><a href="#class_<%= child.short_name %>"><%= child.short_name %></a></li>
								<% end %>
								</ul>
							</td>
						</tr>
	   				<% end %>		   				
	   				<% if t[1].range.length > 0 %>
	   					<tr>
	   						<td class="label">Range</td>
	   						<td>
	   							<ul>
			   					<% t[1].range.each do |cls| %>
			   						<% if cls.class.to_s == "String" %>
			   							<li><a href="<%= cls %>"><%= cls %></a></li>
			   						<% else %>
			   							<li><a href="#class_<%= cls.short_name %>"><%= cls.short_name %></a></li>
			   						<% end %>
			   					<% end %>
			   					</ul>		   				
		   					</td>
	   					</tr>
	   				<% end %>
	   				<% if t[1].domain.length > 0 %>
	   					<tr>
	   						<td class="label">Domain</td>
	   						<td>
	   							<ul>
			   					<% t[1].domain.each do |cls| %>
			   						<% if cls.class.to_s == "String" %>
			   							<li><a href="<%= cls %>"><%= cls %></a></li>
			   						<% else %>
			   							<li><a href="#class_<%= cls.short_name %>"><%= cls.short_name %></a></li>
			   						<% end %>
			   					<% end %>
			   					</ul>		   				
	   						</td>
	   					</tr>
	   				<% end %>				
					<% if t[1].see_alsos.length > 0 %>
						<tr>
							<td class="label">See Also</td>
							<td>
			   					<ul>	   			
								<% t[1].see_alsos.each do |link| %>
									<li><a href="<%= link %>"><%= link %></a></li>
								<% end %>
								</ul>
							</td>
						</tr>
					<% end %>
	  			<%end%>
				</table>	   				
	  		</div>	
		<%end%>
		
		<% if schema.individuals.length > 0 %>
			<h2>Individuals</h2>
			<div class="section">
				<table class="terms">
	   			<%schema.individuals.values.each do |individual| %>
	   				<%
	   					rowSpan = 1
	   					rowSpan += 1 if individual.hasComment?
	   					rowSpan += 1 if individual.classes.length > 0
	   				%>
	   				<tr id="class_<%= individual.short_name %>">
	   					<th colspan="2" class="termName"><%= individual.short_name %></th>
	   					<th rowspan="<%= rowSpan %>" valign="top"><%= individual.asSvg %></th>
	   				</tr>
					<% if individual.hasComment? %>
						<tr>
							<td class="label">Abstract</td>
							<td><%= individual.comment %></td>
						</tr>
					<% end %>				
					<% if individual.classes.length > 0 %>
						<tr>
							<td class="label">Class</td>
							<td>
								<ul>
								<% individual.classes.each do |klass| %>
									<li><a href="../ontology/<% klass.schema.name %>.html#class_<%= klass.short_name %>"><%= klass.short_name %></a></li>
								<% end %>
								</ul>
							</td>
						</tr>
					<% end %>
	  			<%end%>
				</table>
	  		</div>	
		<%end%>
	</body>
</html>
