<html>
	<head>
		<title>Ontologies</title>
		<style>
body, td {
  font-family: arial,sans-serif;
  font-size: 80% ;
}
tr.header {
  border-bottom: 1px black solid;
}
		</style>
	</head>
	<body>
		<table border="0" width="100%">
		<tr class="header">
			<th>PREFIX</th>
			<th>Namespace</th>
			<th>Ontology Name</th>
			<th align="right"># Classes</th>
			<th align="right"># Properties</th>
			<th align="right">Modified</th>
		</tr>
		<% ontologies.each do |ontology| %>
			<tr>
				<td width="1%"><a href="./ontology/<%= ontology.resourceNameHtml %>"><%= ontology.short_name %></a></td>
				<td width="1%"><a href="./ontology/<%= ontology.resourceNameHtml %>"><%= ontology.ns %></a></td>
				<td><%= ontology.title %></td>
				<td align="right"><%= ontology.numberOfClasses %></td>
				<td align="right"><%= ontology.numberOfProperties %></td>
				<td align="right"><%= ontology.modified %></td>
			</tr>
			<% if ontology.hasComment? %>
				<tr>
					<td colspan="2">&nbsp;</td>
					<td colspan="4"><%= ontology.comment %></td>
				</tr>
			<% end %>
		<% end %>
		</table>		
	</body>
</html>
