<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Ontologies</title>
		<style>
body, td {
  font-family: arial,sans-serif;
  font-size: 80% ;
}
th {
  border-bottom: 1px black solid;
}
td.prefix {
  white-space: nowrap;
  width: 1%;
}
td.namespace {
  white-space: nowrap;
  width: 1%;
}
td.title {
  font-weight: bold;
}
		</style>
	</head>
	<body>
		<table border="0" width="100%">
		<tr class="header">
			<th align="left">PREFIX</th>
			<th align="left">Namespace</th>
			<th align="left">Ontology Name</th>
			<th align="right"># Classes</th>
			<th align="right"># Properties</th>
			<th align="right"># Imports</th>
			<th align="right">Modified</th>
		</tr>
		<% ontologies.each do |ontology| %>
			<tr>
				<td class="prefix"><a href="./ontology/<%= ontology.resourceNameHtml %>"><%= ontology.short_name %></a></td>
				<td class="namespace"><a href="./ontology/<%= ontology.resourceNameHtml %>"><%= ontology.ns %></a></td>
				<td class="title"><%= ontology.title %></td>
				<td align="right"><%= ontology.numberOfClasses %></td>
				<td align="right"><%= ontology.numberOfProperties %></td>
				<td align="right"><%= ontology.imports.size %><td>
				<td align="right"><%= ontology.modified %></td>
			</tr>
			<% if ontology.hasComment? %>
				<tr>
					<td colspan="2">&nbsp;</td>
					<td colspan="5"><%= ontology.comment %></td>
				</tr>
			<% end %>
		<% end %>
		</table>
		<svg xmlns="http://www.w3.org/2000/svg">
			<%= repository.ontologiesAsSvg %>
		</svg>		
	</body>
</html>
