<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="robots" content="noindex, nofollow" />
		<title>Ontologies</title>
		<link type="text/css" href="css/smoothness/jquery-ui-1.8.23.custom.css" rel="Stylesheet" />
		<link rel="stylesheet" href="css/dowl.css" rel="Stylesheet" />
		<script src="js/jquery-1.7.2.min.js"></script>
		<script src="js/jquery-ui-1.8.23.custom.min.js"></script>
		<script src="js/dowl.js"></script>
	</head>
	<body>
		<div class="dowl">
			<div id="tabs">
		 		<ul>
		 			<li><a title="Overview" href="index.html#content">Overview</a></li>
		 			<li><a title="Import Diagram" href="import-diagram.html">Import Diagram</a></li>
					<% ontologies.each do |ontology| %>
		     			<li><a title="<%= ontology.short_name %>" href="<%= ontology.resourceNameHtml %>"><%= ontology.short_name %></a></li>
					<% end %>
		 		</ul>
			</div>
		</div>
		<div id="content">                 
			<table class="overview" border="0" width="100%">
			<tr class="header">
				<th class="prefix">PREFIX</th>
				<th align="left">Ontology Name</th>
				<th align="right"># Classes</th>
				<th align="right"># Properties</th>
				<th align="right"># Individuals</th>
				<th align="right"># Imports</th>
				<th align="right">Modified</th>
			</tr>
			<% ontologies.each do |ontology| %>
				<tr>
					<td class="prefix"><a href="<%= ontology.resourceNameHtml %>" title="<%= ontology.ns %>"><%= ontology.short_name %></a></td>
					<td class="title"><%= ontology.title %></td>
					<td align="right"><%= ontology.numberOfClasses %></td>
					<td align="right"><%= ontology.numberOfProperties %></td>
					<td align="right"><%= ontology.numberOfIndividuals %></td>
					<td align="right"><%= ontology.imports.size %></td>
					<td align="right"><%= ontology.modified %></td>
				</tr>
				<% if ontology.hasComment? %>
					<tr>
						<td colspan="1">&nbsp;</td>
						<td colspan="6"><%= ontology.comment %></td>
					</tr>
				<% end %>
			<% end %>
			</table>
        </div>
	</body>
</html>
